<!DOCTYPE html>
<html>
  <head>
    <title>Proverb Detail</title>
  </head>
  <body>
    <h1>Proverb Details</h1>
    <p><strong>ID:</strong> <%= proverb.id %></p>
    <p><strong>Dari:</strong> <%= proverb.textDari %></p>
    <p><strong>Pashto:</strong> <%= proverb.textPashto %></p>
    <p><strong>English Translation:</strong> <%= proverb.translationEn %></p>
    <p><strong>Meaning:</strong> <%= proverb.meaning %></p>
    <p><strong>Category:</strong> <%= proverb.category %></p>

    <a href="/proverbs/<%= proverb.id %>/edit">Edit proverb</a>
    <br />
    <br />
    <form
      action="/proverbs/<%= proverb.id %>/delete"
      method="post"
      onsubmit="return confirm('Are you sure you want to delete this proverb?');"
    >
      <button type="submit">Delete</button>
    </form>

    <br />

    <a href="/">⬅ Back to All Proverbs</a>
  </body>
</html>
