<!DOCTYPE html>
<html>
  <head>
    <title>Proverb Detail</title>
  </head>
  <body>
    <h1>Proverb Details</h1>
    <p><strong>ID:</strong> <%= proverb.id %></p>
    <p><strong>Dari:</strong> <%= proverb.textDari %></p>
    <p><strong>Pashto:</strong> <%= proverb.textPashto %></p>
    <p><strong>English Translation:</strong> <%= proverb.translationEn %></p>
    <p><strong>Meaning:</strong> <%= proverb.meaning %></p>
    <p><strong>Category:</strong> <%= proverb.category %></p>
    <a href="./edit/:id">Edit proverb</a>
    <form action="/proverbs/<% proverb.id %>/delete" method="post">
      <button type="submit">Delete</button>
    </form>
    <a href="./delete/:id">Delete proverb</a>
    <br />

    <a href="/">⬅ Back to All Proverbs</a>
  </body>
</html>
