<%- include('header') %>

<div class="container py-3">
  <h1 class="text-center mb-4">Edit Proverb</h1>
  <div class="card shadow-lg">
    <div class="card-header bg-primary text-white">
      <h3 class="mb-0">Edit Proverb</h3>
    </div>
    <div class="card-body">
      <form
        action="/proverbs/<%= proverb.id %>/edit"
        method="POST"
        id="edit_form"
        class="row g-4"
      >
        <div class="col-md-6">
          <label for="textDari" class="form-label fw-bold">Dari</label>
          <input
            type="text"
            class="form-control"
            id="textDari"
            name="textDari"
            value="<%= proverb.textDari %>"
            required
          />
        </div>

        <div class="col-md-6">
          <label for="textPashto" class="form-label fw-bold">Pashto</label>
          <input
            type="text"
            class="form-control"
            name="textPashto"
            id="textPashto"
            value="<%= proverb.textPashto %>"
            required
          />
        </div>

        <div class="col-md-6">
          <label for="translationEn" class="form-label fw-bold"
            >English Translation</label
          >
          <input
            type="text"
            class="form-control"
            name="translationEn"
            id="translationEn"
            value="<%= proverb.translationEn %>"
            required
          />
        </div>

        <div class="col-md-6">
          <label for="meaning" class="form-label fw-bold">Meaning</label>
          <input
            type="text"
            class="form-control"
            name="meaning"
            id="meaning"
            value="<%= proverb.meaning %>"
            required
          />
        </div>

        <div class="col-md-6">
          <label for="category" class="form-label fw-bold">Category</label>
          <input
            type="text"
            class="form-control"
            name="category"
            id="category"
            value="<%= proverb.category %>"
            required
          />
        </div>

        <div class="col-12">
          <button type="submit" class="btn btn-success me-2">Update</button>
          <a href="/" class="btn btn-secondary">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</div>

<%- include('footer') %>
